<!-- footer -->
<footer class = "footer is-dark">
  <div class = "container content has-text-centered">
    <!-- Copyright -->


    <a href="https://policies.google.com/terms?hl=fr" target="_blank" style="color:white;list-style:none">
      <div align="center">
      CGU & MENTIONS LEGALES
      </div>
    </a>

    <div align="center">
      Copyright © 2020
      <a href="https://www.facebook.com/SuperHypeStore" target="_blank"> SuperHypeStore</a>


    </div>
    <!-- Copyright -->
    <div align="center">
    <p> SuperHypeStore ❣ </p>
    </div>
  </div>

</footer>

