<div class="container">
  <div class="row">
    <div class="col-sm">
      <a href="/pc-portable"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-laptop"></i></span>
        <br>PC PORTABLE
      </a>
    </div>
    <div class="col-sm">
      <a href="/phone"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-phone-square"></i></span>
        <br>Phone
      </a>
    </div>

  </div>
</div>
