<meta charset="utf-8"/>
<div class="container">
<nav class="navbar">
  <input class="form-control" type="text" name="marque" [(ngModel)]="marque" (ngModelChange)="Search()"
  placeholder="Entrer le nom de la marque">
</nav>
  <div class="border">
    <button class="btn btn-md btn-outline-primary" (click)="open(content)">
      <i class="fa fa-plus"></i>Ajout Article</button>
  </div>
  <table class="table table-bordered table-striped">
    <thead>

    <tr>
      <th (click)="sort('id')"> Id&nbsp; <i class="fa fa-sort"></i></th>
      <th (click)="sort('categorieId')"> categorieId&nbsp; <i class="fa fa-sort"></i></th>
      <th (click)="sort('categorieName')"> categorieName&nbsp; <i class="fa fa-sort"></i></th>
      <th (click)="sort('Marque')">Marque&nbsp;<i class="fa fa-sort"></i></th>
      <th (click)="sort('Libelle')">Libelle&nbsp;<i class="fa fa-sort"></i></th>
      <th (click)="sort('prix')"> Prix&nbsp; <i class="fa fa-sort"></i></th>
      <th (click)="sort('photo')"> Photo&nbsp; <i class="fa fa-sort"></i></th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of item | orderBy: key: reverse |paginate :{itemsPerPage: 5, currentPage:p};">
      <td><span>{{item.id}}</span></td>
      <td><span>{{item.categorieId}}</span></td>
      <td><span>{{item.categorieName}}</span></td>
      <td><span>{{item.marque}}</span></td>
      <td><span>{{item.libelle}}</span></td>
      <td><span>{{item.prix}}</span></td>
      <td> <img class="img" src="{{item.photo}}" alt=""></td>
       <td>
        <button class="btn btn-sm btn-info"(click)="openDetails(contentDetails, item)">
          <i class="fa fa-search"></i>Details</button>
        <button class="btn btn-sm btn-warning" (click)="openEdit(contentEdit, item)">
          <i class="fa fa-edit"></i>Edit</button>
        <button class="btn btn-sm btn-danger" (click)="openDelete(contentDelete, item)">
          <i class="fa fa-remove"></i>Delete</button>
      </td>
    </tr>
    </tbody>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </table>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title1">Ajout Article</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <div class="form-group">
        <label for="categorieId">categorieId</label>
        <div class="input-group">
          <input id="categorieId" name="categorieId" class="form-control" >
        </div>
      </div>
      <div class="form-group">
        <label for="marque">Marque</label>
        <div class="input-group">
          <input id="marque" name="marque" class="form-control" >
        </div>
      </div>
      <div class="form-group">
        <label for="prix">prix</label>
        <div class="input-group">
          <input id="prix" name="prix" class="form-control" >
        </div>
      </div>
      <div class="form-group">
        <label for="libelle">Libelle</label>
        <div class="input-group">
          <input id="libelle" name="libelle" class="form-control" >
        </div>
      </div>
      <div class="form-group">
        <label for="photo">photo</label>
        <div class="input-group">
          <input id="photo" name="photo" class="form-control" >
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <div class="input-group">
          <input id="description" name="description" class="form-control" >
        </div>
      </div>
      <div class="border text-center">
        <button data-dismiss="modal" class="btn btn-info">Submit</button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Fermer</button>
  </div>
</ng-template>


<ng-template #contentDetails let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Detail Article </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="acategorieName">Categorie Name</label>
        <div class="input-group">
          <input id="acategorieName" class="form-control" readonly>
        </div>
      </div>
      <div class="form-group">
        <label for="acategorieId">acategorie Id</label>
        <div class="input-group">
          <input id="acategorieId" class="form-control" readonly>
        </div>
      </div>
      <div class="form-group">
        <label for="amarque">Marque</label>
        <div class="input-group">
          <input id="amarque" class="form-control" readonly>
        </div>
      </div>
      <div class="form-group">
        <label for="dlibelle">Libelle</label>
        <div class="input-group">
          <input id="dlibelle" class="form-control" readonly>
        </div>
      </div>
      <div class="form-group">
        <label for="prix">Prix</label>
        <div class="input-group">
          <input id="pprix" class="form-control" readonly>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Fermer</button>
  </div>
</ng-template>

<ng-template #contentEdit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title2">Edit Article </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <form [formGroup]="editForm" novalidate>
        <input id="id" name="id" type="hidden" formControlName="id" class="form-control" >
        <div class="form-group">
          <label for="libelle">Libelle</label>
          <div class="input-group">
            <input formControlName="libelle" class="form-control" >
          </div>
        </div>
        <div class="form-group">
          <label for="marque">Marque</label>
          <div class="input-group">
            <input formControlName="marque" class="form-control" >
          </div>
        </div>
        <div class="form-group">
          <label for="prix">Prix</label>
          <div class="input-group">
            <input formControlName="prix" class="form-control" >
          </div>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <div class="input-group">
            <textarea id="description" formControlName="description" name="description" class="form-control" rows="4"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="photo">Photo</label>
          <div class="input-group">
            <input formControlName="photo" class="form-control" >
          </div>
        </div>
        <div class="border text-center"> <button data-dismiss="modal" class="btn btn-info" (click)="onSave()">Save</button> </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Fermer</button>
  </div>
</ng-template>

<ng-template #contentDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Supprimer Article</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h2>On le supprime ?</h2>
    <div class="border text-center">
      <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">oui, Supprime moi!</button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
  </div>
</ng-template>