<div class="center" style="width: 500px">
    <form [formGroup]="loginForm" class="login-container" (ngSubmit)="connexion()">
      <p [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
        <label>Email</label>
        <input type="email" placeholder="exemple@mail.com" formControlName="email" class="form-control" id="inputEmail" name="email" ngModel email required>
      </p>
      <div class="alert alert-danger" *ngIf="formControls.email.errors?.required && formControls.email.touched" role="alert">
        Email requis
      </div>
  
      <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
        <label>Mot de passe</label>
        <input type="password" placeholder="password" formControlName="password" class="form-control" id="inputPassword" name="password" password ngModel required minlength="8">
      </p>
  
      <div class="alert alert-danger" *ngIf="formControls.password.errors?.required && formControls.password.touched || formControls.password.errors?.minlength" role="alert">
        8 caractères minimum
      </div>
  
      <p>
        <input type="submit" class="btn btn-outline-success my-2 my-sm-0" value="Log in">
      </p>
    </form>
  </div>